#erw-root {
  @import "semantic-ui-css/_semantic.min.scss";
  @import "react-datepicker/dist/react-datepicker.css";
}

*,
:after,
:before {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__input-container,
.customDatePickerWidth > div > div.react-datepicker__input-container input {
  width: 100%;
}

.deferToInheritedFontFamily,
.deferToInheritedFontFamily input {
  font-family: unset !important;
}
